.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
}

.title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.imageContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}